
<style>
.f-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
position: relative;
    padding: 10px;
height: 100vh; 
}

.f-info-name {
    
    text-align: left;
    position: absolute; /* Absolute positioning relative to the container */
    bottom: 0; /* Align to the bottom of the container */
    left: 0; /* Align to the left of the container */
    padding: 10px; /* Optional padding */
    text-align: left;
}

</style>


<footer>
    <div class="f-info">
<div class="f-info-name">
            Vishwajeet Gaikwad
        </div>
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="f-info-brand">&copy Homeygo Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy"> Privacy </a>
            <a href="/terms"> Terms </a>
        </div>
    </div>
</footer>
