<% layout("/layouts/boilerplate") %>
    
    <div class="row mt-3">

        <div class="col-8 offset-2">

            <body>
                <br><br>
                <h3>Create a New listing</h3>
                <form method="POST" action="/listings" novalidate class="needs-validation"  enctype="multipart/form-data">
                    

                    <div class="mb-3">
                        <label for="Title" class="form-lable">Tittle</label>
                        <input required type="text" name="listing[title]" placeholder="Enter tittle "
                            class="form-control" />
                            <div class="valid-feedback">Sucess</div>
                    </div>


                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea  type="text" name="listing[description]" placeholder="Enter Description"
                            class="form-control"></textarea>
                            <div class="valid-feedback">Sucess</div>
                    </div>

                    

                    <!-- <div class="mb-3">
                        <label for="image" class="form-lable">Upload Images</label>
                        <input required type="text" name="listing[image][url]" placeholder="Enter img URL"
                            class="form-control" />
                            <div class="valid-feedback">Sucess</div>
                    </div> -->

                    <div class="mb-3">
                        <label for="image" class="form-lable">Upload Images</label>
                        <input required type="file" name="listing[image][url]" 
                            class="form-control" />
                            <div class="valid-feedback">Sucess</div>
                    </div>



                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-lable">Price</label>
                            <input required type="number" name="listing[price]" placeholder="Enter Price"
                                class="form-control" />
                                <div class="invalid-feedback">Enter Valid Price</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-lable">Phone Number</label>
                            <input required type="text" name="listing[country]" placeholder="Mobile No"
                                class="form-control" />
                                <div class="valid-feedback">Sucess</div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-lable">Location</label>
                        <input required type="text" name="listing[location]" placeholder="Enter Location"
                            class="form-control" />
                            <div class="valid-feedback">Sucess</div>
                    </div>
                    <br><br>

                    <button class="add-btn">ADD</button>
                    <br><br>
                </form>
            </body>
        </div>

    </div>



